.profileSection-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20vh;
}
.profileSection-left {
    font-size: 1.5rem;
}  
h1{
    padding-bottom: 1rem;
}  
.profileSection-right{
align-items: center;
justify-content: center;
display: flex;
}
.ProfilePic{
    height: 350px;
    width: 110%;
    border-radius: 30%;
    border:7px solid blueviolet
}
.profile-buttons {
    margin-top: 1rem;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align:center;
}
button{
    padding: 8px;
    background-color: blueviolet;
    justify-content: center;
    border: none;
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    color: beige;
    cursor: pointer;    
}
.profilesectionbreaker{
    height: 4px;
    margin: 10px 0px 5px;
    background-color: var(--bs-gray-500);
}
@media only screen  
and (max-width: 480px) and (orientation: portrait) {
.profileSection-container{
    display: flex;
    flex-direction: column;
    padding-top: 20vh;    
}
.ProfilePic{
    height: 230px;
    width: 120%;
}
.p{font-size: small;}
}
@media only screen and (min-width:480px)
and (max-width: 820px){
    .p{font-size: small;}
    .profileSection-container{
        display: flex;
        flex-direction: column;
        padding-top: 20vh;    
    }
    .p{font-size: large;}

}