.skill-container{
    display: flex;
    align-items: center;   
}
.skills-card-container{
   
    border-radius: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; 
    height: 20vh;
    transition-duration: 0.7s;
    width:18vw;
    box-shadow: 0 15px 24px rgba(0,0,0,0.11);

} 
.skills-card-container:hover{
    
    transform: scale(1) translateZ(0);
    box-shadow: 0 20px 30px rgba(0,0,0,0.6);
  
}
.SkillLogo{
    position: absolute;
    height: 90px;
    width: 90px;
}
.skill-name{
    cursor: pointer;
    padding-top: 0.3rem;
    font-size: larger;
}


@media only screen 
and (max-width: 480px) and (orientation: portrait) {

.SkillLogo{
    height: 70px;
    width: 70px;
}
.skills-card-container{
    height: 20vh;
    width:40vw;
    box-shadow: 0 15px 24px rgba(0,0,0,0.11);
}
.skill-container{
    display: flex;
    align-items: center;
}
}

@media only screen and (min-width:480px)
and (max-width: 820px){
   
    .SkillLogo{
        height: 70px;
        width: 70px;
    }
    .skills-card-container{
        height: 20vh;
        width:50vw;
        
        box-shadow: 0 15px 24px rgba(0,0,0,0.11);
    }
    .skill-container{
        display: flex;
        align-items: center;
    }
  
    

}




